*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root{

    --branco: #ffffff;
    --laranja: #FF6E22;
    --preto: #000000;
    --principal: 'Raleway', sans-serif;
    --secundaria: 'Mochiy Pop One', sans-serif;

}
body{
    font-family: var(--principal);

    
}

a{
    text-decoration: none;
}

header{

    background: #FBFBFB;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
height: 50px;


}

.entrar{
color: var(--preto);


}

.cadastrar-se{
color: var(--laranja);


}

.container{

    width: 85%;
    margin: 0 auto;


}


header nav{
display: flex;
justify-content: space-between;
height: 100%;
align-items: center;
}

.links{
    display: flex;
width: 200px;
justify-content: space-between;
font-weight: 700;

}


.secao_encontrar{

    display: flex;
    padding: 30px 0;
}

h1{

    font-size: 50px;
    
}

.esquerda1 p{
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 40px;
}

.botao{
    
padding: 15px;
font-size: 20px;
font-family: var(--secundaria);
background: #FF9922;
border-radius: 10px;
color: var(--branco);

}

.esquerda1 .botao{
    
}